 <div class="container pt-3">
   <div class="row  d-flex justify-content-center ">
     <div class="col-8 pb-3">
       <form action="guardarform" method="post" enctype="application/x-www-form-urlencoded">
        <div class="row g-3">
  <div class="col-sm">
    <input type="text" name="title" class="form-control" placeholder="title" aria-label="Title">
  </div>
  <div class="col-sm">
    <input type="text" name="price" class="form-control" placeholder="price" aria-label="Price">
  </div>
  <div class="col-sm">
    <input type="text" name="thumbnail" class="form-control" placeholder="thmubnail" aria-label="Thumbnail">
  </div>
   <div class="col-sm">
     <input type="submit" class="btn btn-primary" value="Guardar producto">
     </form>
     </div>
   </div>
  </div>