 <div class="container">
 <div class="table">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">TITLE</th>
            <th scope="col">PRICE</th>
            <th scope="col">thumbnail</th>
          </tr>
        </thead>
        <tbody>
  <div id="template">
          {{#each productos}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td><img src ={{thumbnail}} width="100" height="100"></td>
          </tr>
          {{/each}}
    </div>
      </table>
    </div>
        <div id="toRender"></div>
 </div>
 </div>